<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI Test Suite">
    <listeners>
        <listener class-name="com.ui.listeners.TestListener"/>
    </listeners>

    <test name="Login Test">
        <parameter name="environment" value="qa"/>
        <parameter name="browser" value="chrome"/>
        <parameter name="isLambdaTest" value="false"/>
        <parameter name="isHeadless" value="true"/>

        <classes>
            <class name="com.ui.tests.LoginTest"/>
        </classes>
    </test>
</suite>